
.header {
  padding-top: 90px;
  padding-bottom: 120px;
  background-image: url(/images/the-urban-landscape-1698285.png);
  background-size: cover;
  background-position: center center;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}