<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="all.css">
</head>

<body>
  <header class="header">
    <div class="container text-center">
      <h1 class="text-white" style="margin-bottom: 95px">高雄旅遊資訊</h1>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <select name="" id="" class="form-control input-lg"></select>
        </div>
      </div>
    </div>
  </header>
  <section style="margin-top: -15px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="bg-white p-3 shadow-sm">
            <h4>熱門行政區</h4>
            <button class="btn btn-primary px-4">苓雅區</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <hr class="my-5">
    <section>
      <div class="row">
        <div class="col-sm-6">
          <div class="card shadow-sm border-0">
            <div class="card-header bg-cover" style="height: 155px; background-image: url(https://images.unsplash.com/photo-1514540344452-642d604143a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73b8449846b0c8f33bb3ba221b459ea0&auto=format&fit=crop&w=634&q=80)">
            </div>
            <div class="card-body ">
              <ul class="list-unstyled mb-0">
                <li class="d-flex">
                  <div class="text-center" style="width: 30px">
                    <i class="fas fa-clock text-primary"></i>
                  </div>
                  週二至週日10:00-18:00，每週一公休</li>
                <li class="d-flex">
                  <div class="text-center" style="width: 30px">
                    <i class="fas fa-map-marker text-warning"></i>
                  </div>
                  高雄市三民區建國二路318號</li>
                <li class="d-flex">
                  <div class="text-center" style="width: 30px">
                    <i class="fas fa-mobile-alt text-info"></i>
                  </div>
                  886-7-2363357</li>
                <li class="d-flex">
                  <div class="text-center" style="width: 30px">
                    <i class="fas fa-ticket-alt text-success"></i>
                  </div>
                  Free</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="my-5" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <footer class="text-center bg-info text-white py-4">
    <div>高雄旅遊網</div>
    <div>資料來源：高雄市政府</div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script src="all.js"></script>
</body>

</html>